@{
    Layout = null;
    }
@using MVC.Controls.Grid
@using MVC.Controls
@using LiveAzure.Models.Product

<script type="text/javascript">
    var UnitPricePanel = new OpenPanel();
    UnitPricePanel.bLoading = true;
    UnitPricePanel.width = 500;
    UnitPricePanel.height = 600;
    UnitPricePanel.title = "@LiveAzure.Resource.Stage.ProductController.UnitPrice";
    UnitPricePanel.closeurl = "@Url.Content("~/Content/themes/base/images/close.gif")";
    function ProductOnsalePaymentAdd() {
        UnitPricePanel.OpenPanel();
        $.ajax({
            type: "POST",
            url: "/Product/ProductOnsalePaymentAddOrEdit",
            data: { bAddOrEdit: "true" },
            success: function (html) {
            UnitPricePanel.EditPageHtml(html);
            }
        });
    }

    function ProductOnsalePaymentEdit() {
        UnitPricePanel.OpenPanel();
        var selectGid = $("#ProductPaymentGrid").jqGrid("getGridParam", "selrow");
        if (selectGid == null) {
            var strEditTip = "@Html.Raw(LiveAzure.Resource.Stage.ProductController.EditTips)";
            alert(strEditTip);
        }
        else {
            $.ajax({
                type: "POST",
                url: "/Product/ProductOnsalePaymentAddOrEdit",
                data: { bAddOrEdit: "false", gid: selectGid },
                success: function (html) {
                UnitPricePanel.EditPageHtml(html);
                }
            });
        }
    }

</script>

<div>    
    <div>
        <span>@LiveAzure.Resource.Model.Product.ProductInformation.Code :</span> <span style="font-weight: bold">@ViewBag.PaymentPUCode</span>
        <span>@LiveAzure.Resource.Model.Product.ProductInformation.Name :</span> <span style="font-weight: bold">@ViewBag.PaymentPUName</span>
    </div>
    <div>
        @Html.Grid(
                new GridControl()
                .SetName("ProductPaymentGrid")
                .SetPageSize(10)
                .SetIsAutoSize(true)
                .SetListUrl("/Product/ListOnsalePayment")
                .SetEditUrl("")
                .SetHeight("'100%'")
                .SetWidth("300")
                .SetColumns<LiveAzure.Models.Product.ProductOnPayment>(cs =>
                {
                    cs.Add(x => x.Gid).SetAsPrimaryKey().SetHidden(true);
                    cs.Add(x => x.PayType.Name.Matter).SetName("PayType").SetCaption(@LiveAzure.Resource.Model.Product.ProductOnPayment.PayType);
                    cs.Add(x => x.Remark).SetCaption(@LiveAzure.Resource.Model.ModelBase.Remark);
                })
        )
    </div>
    <div>
        <input type="button" value="@LiveAzure.Resource.Common.Add" name="productPaymentAdd" onclick="ProductOnsalePaymentAdd();" />
        <input type="button" value="@LiveAzure.Resource.Common.Edit" name="productPaymentEdit" onclick="ProductOnsalePaymentEdit();" />
        <input type="button" value="@LiveAzure.Resource.Common.Delete" name="productPaymentDelete" onclick="" />
    </div>

</div>
<div id="onsalePaymentAdd">
</div>
<div id="onsalePaymentEdit">
</div>
