@{
    ViewBag.Title = "ChangePassword";
}
@model LiveAzure.Models.Member.MemberUser
@using (@Ajax.BeginForm("SaveChangedPassword", "Config", new AjaxOptions { OnSuccess="SaveSuccessOrNot()" }, new { Id = "ChangePassCodeForm" }))
{
    @Html.HiddenFor(model => model.Gid)
    @Html.Hidden("passwordOfModel",(string)ViewBag.password)
    <table>
        <tr>
            <td>@LiveAzure.Resource.Model.Member.MemberUser.LoginName</td>
            <td>@Model.LoginName</td>
        </tr>
        <tr>
            <td>@LiveAzure.Resource.Stage.ConfigController.OldPassword</td>
            <td>@Html.Password("oldPassword", "")</td>
        </tr>
        <tr>
            <td>@LiveAzure.Resource.Stage.ConfigController.NewPassword</td>
            <td>@Html.Password("newPassword", "")</td>
        </tr>
        <tr>
            <td>@LiveAzure.Resource.Stage.ConfigController.ComfirmPassword</td>
            <td>@Html.Password("ComfirmPasscode", "", new { onblur = "CheckPasscode(this)" })</td>
            <td id="PasscodeSameOrNot"></td>
        </tr>
    </table>
    <input type="button" value="@LiveAzure.Resource.Common.Submit" onclick="SumbitChangePasscodeForm()" />
    <input type="reset" value="@LiveAzure.Resource.Common.Reset" />
    <script type="text/javascript">

        function CheckPasscode(code1) {
            var code2 = document.getElementById("newPassword");
            if (code1.value == code2.value) {
                document.getElementById("PasscodeSameOrNot").innerHTML = "OK";
            }
            else {
                document.getElementById("PasscodeSameOrNot").innerHTML = "@LiveAzure.Resource.Stage.ConfigController.PasswordIsNotSame";
            }
        }

        function SumbitChangePasscodeForm() {
            var code1 = document.getElementById("passwordOfModel");
            var code2 = document.getElementById("oldPassword");
            var code3 = document.getElementById("newPassword");
            var code4 = document.getElementById("ComfirmPasscode");

            if (code1.value == code2.value && code2.value != null) {
                if (code3.value == code4.value && code3.value != null) {
                    $("#ChangePassCodeForm").submit();
                }
                else {
                    document.getElementById("PasscodeSameOrNot").innerHTML = "@LiveAzure.Resource.Stage.ConfigController.PasswordIsNotSame";
                }
            }
            else {
                alert("@LiveAzure.Resource.Stage.ConfigController.PasswordWrong");
            }  
        }

        function SaveSuccessOrNot() {
            alert("@LiveAzure.Resource.Stage.ConfigController.ChangeSuccess");
        }

    </script>
}