@model LiveAzure.Models.General.GeneralOptItem
@using MVC.Controls;
@using MVC.Controls.Grid;
@{
    ViewBag.Title = "SetOptionalItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SetOptionalItems", "Optional", FormMethod.Post))
{
    <div class="display-field" >
        @LiveAzure.Resource.Model.General.GeneralOptItem.Code
        @Html.EditorFor(model => model.Code)
        @Html.ValidationMessageFor(model => model.Code)
    </div>
    
    <div class="display-field" >
        @LiveAzure.Resource.Model.General.GeneralOptItem.Name
        @Html.EditorFor(model => model.Name.Matter)
        @Html.ValidationMessageFor(model => model.Name.Matter)
    </div>
    
    <div class="display-field" >
        @LiveAzure.Resource.Model.General.GeneralOptItem.Sorting
        @Html.EditorFor(model => model.Sorting)
        @Html.ValidationMessageFor(model => model.Sorting)
    </div>  
    
    <input type="submit" value="add" />
}
    @{
    string s = Html.GridDeleteButton(buttonText: "Delete", gridName: "grid", actionUrl: "/Optional/DeleteOptionalItem");
    var wrapper = new HtmlString(s);
     
    @wrapper
    }
    
<div>
    @Html.Grid(new GridControl()
        .SetName("grid")
        .SetPageSize(10)
        .SetHttpVerb(HttpVerbs.Get)
        .SetListUrl("/Optional/OptionalItemList")
        //.SetIsAutoSize(true)
        .SetWidth("800")
        .SetColumns<LiveAzure.Models.General.GeneralOptItem>(cs =>
        {
            cs.Add(x => x.Gid).SetAsPrimaryKey().SetEditable(false).SetHidden(true);
            cs.Add(x => x.Code);
            cs.Add(x => x.Name.Matter);
            cs.Add(x => x.Sorting);
        }))
 </div>
