@using System.Globalization;
@using LiveAzure.Models;
@using LiveAzure.Controls.LiveRegionSelector
@ControlManager.RegionSelect()
@*@using LiveAzure.Controls.LiveResourceEditor
@Html.LiveResourceEditorManager()*@
@model LiveAzure.Models.Purchase.PurchaseSupplier
@{
    ViewBag.Title = "SupplierDetail";
    Layout = null;
}



@{
    Guid fullResId = new Guid(ViewData["fullResId"].ToString());
    Guid shortResId = new Guid(ViewData["shortResId"].ToString());
    }
<script type="text/javascript">

    var target;
    function link() {
        target = document.getElementById("supplierRegion");
        if (target.style.display == "none")
        { target.style.display = "block"; }
        else
        { target.style.display = "none"; }
    }

    $(document).ready(function () {
        $("#parent").attr("disabled", true);
        if ('@(ViewBag.exist)' == 0) {
            $("#Otype option[value='3']").attr("selected", true);
            $("#Otype").attr("disabled", true);
        }
        else {
            $("#Code").attr("readonly", "readonly");
            $("#Otype").attr("disabled", true);
        }
    })
</script>

@using (Html.BeginForm("SupplierDetail", "Organization"))
{
 <div class="down_AddorEdit">   
    @Html.HiddenFor(model => model.Gid)
    @Html.HiddenFor(model => model.aIntroduction)
    <table class="DIY_table">
        <tr>
            <th>
                @LiveAzure.Resource.Stage.OrganizationController.organization:
            </th>
            <td>
                @Html.TextBox("parent", ViewData["parent"] as string)
                @Html.ValidationMessageFor(model => model.aParent)
            </td>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.Code
            </th>
            <td>
                @Html.EditorFor(model => model.Code)
                @Html.ValidationMessageFor(model => model.Code)
            </td>
        </tr>
        <tr>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.ExCode
            </th>
            <td>
                @Html.EditorFor(model => model.ExCode)
                @Html.ValidationMessageFor(model => model.ExCode)
            </td>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.Ostatus
            </th>
            <td>
                @Html.DropDownListFor(model => model.Ostatus, (List<SelectListItem>)ViewBag.ostatuslist, new { type = "width:150px" })
                @Html.ValidationMessageFor(model => model.Ostatus)
            </td>
        </tr>
        <tr>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.Otype
            </th>
            <td>
                @Html.DropDownListFor(model => model.Otype, (List<SelectListItem>)ViewBag.otypelist, new { type = "width:150px" })
                @Html.ValidationMessageFor(model => model.Otype)
            </td>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.ExType
            </th>
            <td>
                @Html.HiddenFor(model => model.ExType)
                @Html.HiddenFor(model => model.ExtendType.aName)
                @Html.EditorFor(model => model.ExtendType.Name.Matter)
                @Html.ValidationMessageFor(model => model.ExType)
            </td>
        </tr>
        <tr>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.FullName
            </th>
            <td>
                @Html.HiddenFor(model => model.aFullName)
                @Html.TextBoxFor(model => model.FullName.Matter)
            </td>
            @*@Html.LiveResourceEditor(new LiveResourceEditor()
                .SetName("FullName")
                        .SetSaltKey((string)ViewBag.saltKey)
                        .SetResourceGID(@fullResId)
                        .SetButtonText(LiveAzure.Resource.Stage.OrganizationController.otherLanguage)
                        .SetResourceType(ResourceType.STRING)
                        .SetWindowTitle(LiveAzure.Resource.Stage.OrganizationController.windowTitle)
                        .EnableAdd(true)
                        .EnableEdit(true)
                        .EnableDelete(true)
                        )*@
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.ShortName
            </th>
            <td>
                @Html.HiddenFor(model => model.aShortName)
                @Html.EditorFor(model => model.ShortName.Matter)
        @*    @Html.LiveResourceEditor(new LiveResourceEditor()
            .SetName("ShortName")
                            .SetSaltKey((string)ViewBag.saltKey)
                            .SetResourceGID(@shortResId)
                            .SetButtonText(LiveAzure.Resource.Stage.OrganizationController.otherLanguage)
                            .SetResourceType(ResourceType.STRING)
                            .SetWindowTitle(LiveAzure.Resource.Stage.OrganizationController.windowTitle)
                            .EnableAdd(true)
                            .EnableEdit(true)
                            .EnableDelete(true)
                            )*@
            </td>
        </tr>
        @*<tr>    
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.Location
            </th>
            <td>
                @Html.HiddenFor(model => model.aLocation)
                @{
                    if (Model != null && Model.aLocation != null)
                    {<input id="Location_Name" type="text" value="@Model.Location.FullName" readonly="readonly"/>}
                    else
                    {<input id="Location_Name" type="text" value="@LiveAzure.Resource.Stage.OrganizationController.select" readonly="readonly"/>}
                }
    *@
@*    @Html.LiveResourceEditor(new LiveResourceEditor()
    .SetName("ShortName")
                    .SetSaltKey((string)ViewBag.saltKey)
                    .SetResourceGID(@shortResId)
                    .SetButtonText(LiveAzure.Resource.Stage.OrganizationController.otherLanguage)
                    .SetResourceType(ResourceType.STRING)
                    .SetWindowTitle(LiveAzure.Resource.Stage.OrganizationController.windowTitle)
                    .EnableAdd(true)
                    .EnableEdit(true)
                    .EnableDelete(true)
                    )*@
    
    
    <tr>
       <th>
          @LiveAzure.Resource.Model.Member.OrganizationBase.Location
       </th>
       <td>
          @Html.EditorFor(model => model.aLocation, "RegionSelect")
       </td>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.FullAddress
            </th>
            <td>
                @Html.EditorFor(model => model.FullAddress)
                @Html.ValidationMessageFor(model => model.FullAddress)
            </td>
        </tr>
        <tr>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.Contact
            </th>
            <td>
                @Html.EditorFor(model => model.Contact)
                @Html.ValidationMessageFor(model => model.Contact)
            </td>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.WorkPhone
            </th>
            <td>
                @Html.EditorFor(model => model.WorkPhone)
                @Html.ValidationMessageFor(model => model.WorkPhone)
            </td>
        </tr>
        <tr>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.CellPhone
            </th>
            <td>
                @Html.EditorFor(model => model.CellPhone)
                @Html.ValidationMessageFor(model => model.CellPhone)
            </td>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.WorkFax
            </th>
            <td>
                @Html.EditorFor(model => model.WorkFax)
                @Html.ValidationMessageFor(model => model.WorkFax)
            </td>
        </tr>    
        <tr>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.Email
            </th>
            <td>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </td>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.HomeUrl
            </th>
            <td>
                @Html.EditorFor(model => model.HomeUrl)
                @Html.ValidationMessageFor(model => model.HomeUrl)
            </td>
        </tr>
        <tr>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.Sorting
            </th>
            <td>
                @Html.EditorFor(model => model.Sorting)
                @Html.ValidationMessageFor(model => model.Sorting)
            </td>
            <th>
                @LiveAzure.Resource.Model.Member.OrganizationBase.Brief
            </th>
            <td>
                @Html.EditorFor(model => model.Brief)
                @Html.ValidationMessageFor(model => model.Brief)
            </td>
        </tr>
    </table>
    <div>
        <input type="submit" value="@LiveAzure.Resource.Stage.OrganizationController.submit" />
        <input type="reset" value="@LiveAzure.Resource.Stage.OrganizationController.reset"  />
    </div>
</div>
}
   
