@using MVC.Controls;
@using MVC.Controls.Grid;
@model LiveAzure.Models.Warehouse.WarehouseInformation
@{
    ViewBag.Title = "WarehouseIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="ListBlock">
    <div>
       @LiveAzure.Resource.Stage.UserController.organization
       @Html.DropDownListFor(model=> model.aParent, (List<SelectListItem>)ViewBag.organization, new { id = "orgCode", name = "orgCode", style = "width:270px;", onchange = "changeOrg()" })
    </div>
    <div> 
        @Html.Grid(new GridControl()
            .SetName("gridWarehouse")
            .SetPageSize(10)
            .SetIsAutoSize(false)
            .SetHttpVerb(HttpVerbs.Get)
            .SetListUrl("/Organization/ListWarehouse")
            .SetHeight("'100%'")
            .SetColumns<LiveAzure.Models.Member.MemberOrganization>(cs =>
                {
                    cs.Add(x => x.Gid).SetAsPrimaryKey().SetHidden(true);
                    cs.Add(x => x.Code).SetCaption(LiveAzure.Resource.Model.Member.OrganizationBase.Code);
                    cs.Add(x => x.FullName.Matter).SetCaption(LiveAzure.Resource.Model.Member.OrganizationBase.FullName);
                    cs.Add(x => x.ShortName.Matter).SetCaption(LiveAzure.Resource.Model.Member.OrganizationBase.ShortName);
                    cs.Add(x => x.Ostatus).SetCaption(LiveAzure.Resource.Model.Member.OrganizationBase.Ostatus);
                    cs.Add(x => x.Sorting).SetCaption(LiveAzure.Resource.Model.Member.OrganizationBase.Sorting);
                })
           )
    <br />
    @if (ViewBag.privEnableEdit == "1"){
        <input type="button" value="@LiveAzure.Resource.Common.Add" onclick="addWarehouse()"/>
        <input type="button" value="@LiveAzure.Resource.Common.Edit" onclick="editWarehouse()"/>
    }
    else
    {
        <input type="button" value="@LiveAzure.Resource.Common.Add" disabled="disabled"/>
        <input type="button" value="@LiveAzure.Resource.Common.Edit" disabled="disabled"/>
    }
    <input type="button" value="@LiveAzure.Resource.Model.Member.OrganizationBase.Introduction" onclick="OrganizationIntroduction();" />
    @if (ViewBag.privEnableDelete == "1")
    {
        <input type="button" value="@LiveAzure.Resource.Common.Delete" id="delWare" onclick="deleteWarehouse()"/> 
    }
    else
    {
        <input type="button" value="@LiveAzure.Resource.Common.Delete" disabled="disabled"/>
    }   
@*    @if ((bool)ViewBag.IsFromOrg)
    { 
        <input type="button" value="@LiveAzure.Resource.Common.Back" onclick="window.location.href = '/Organization/Index'" />
    }*@
    </div>
</div>
<div id="WarehouseAddorEditBlock"></div>
<script type ="text/javascript">
    function changeOrg() {
        var id = $("#orgCode option:selected").val();
        var allids = $("#gridWarehouse").jqGrid("getDataIDs");
        $.ajax({
            type: "POST",
            url: "/Organization/changeOrg",
            data: { currentid: id},
            datatype: "html",
            success: function (data) {
                $("#gridWarehouse").trigger('reloadGrid');
            },
            error: function () {
                alert("@LiveAzure.Resource.Common.OperationFailed");
            }
        });
    }
    function addWarehouse() {
        $("#ListBlock").fadeOut("fast");
        $.post("/Organization/OrgDetail", { OrgType: "warehouse", ParentOrgID: $("#orgCode").val() }, function (backdata) {
            $("#WarehouseAddorEditBlock").html(backdata);
        });
    }
    function editWarehouse() {
        var id = $("#gridWarehouse").jqGrid("getGridParam", "selrow");
        if (id == null) {
            alert("@LiveAzure.Resource.Common.PleaseSelectRow");
        }
        else {
            $("#ListBlock").fadeOut("fast");
            $.post("/Organization/OrgDetail", { OrgType: "warehouse", Gid: id, ParentOrgID: $("#orgCode").val() }, function (backdata) {
                $("#WarehouseAddorEditBlock").html(backdata);
            });
        }
    }
    function deleteWarehouse() {
        var delewareid = $("#gridWarehouse").jqGrid("getGridParam", "selrow");
        if (delewareid == null)
        { alert("@LiveAzure.Resource.Common.PleaseSelectRow"); }
        else {
            if (confirm("Delete selected record(s)?")) {
                $.post("/Organization/deleteWare", { strdeleid: delewareid }, function (data) {
                    $("#gridWarehouse").trigger('reloadGrid');
                });
            }
        }
    }
    function OrganizationIntroduction() {
        var id = $("#gridWarehouse").jqGrid("getGridParam", "selrow");
        if (id == null)
            alert("@LiveAzure.Resource.Common.PleaseSelectRow");
        else {
            window.location.href = "/Organization/OrgIntroduction?OrgType=warehouse&Gid=" + id;
        }
    }
</script>