@model LiveAzure.Models.Finance.FinancePayType
@using (@Ajax.BeginForm("SavePayType", "Finance", new AjaxOptions { OnSuccess = "RefreshGrid();ClosePanel();" }, new { id = "editPayTypeForm" }))
{
<div class="down_AddorEdit">
    @Html.HiddenFor(model => model.Gid)
    <table>
    <tr>
        <th>
            @Html.Label(@LiveAzure.Resource.Model.Finance.FinancePayType.Orgnization)
        </th>
        <td>
            @Html.DropDownListFor(model => model.OrgID, (List<SelectListItem>)ViewBag.editOrganization)
            @Html.ValidationMessageFor(model => model.OrgID)
        </td>
    </tr>
    <tr>
        <th>    
            @Html.Label(@LiveAzure.Resource.Model.Finance.FinancePayType.Code)
        </th>
        <td>
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </td>
    </tr>
    <tr>
        <th>   
            @Html.Label(@LiveAzure.Resource.Model.Finance.FinancePayType.Name)
        </th>
        <td>
            @Html.EditorFor(model => model.Name, "Matter")
            @Html.ValidationMessageFor(model => model.Name.Matter)
        </td>
    </tr>
    <tr>
        <th>
            @Html.Label(@LiveAzure.Resource.Model.Finance.FinancePayType.Matter)
        </th>
        <td>
            @Html.EditorFor(model => model.Matter)
            @Html.ValidationMessageFor(model => model.Matter)
        </td>
    </tr>
    <tr>
        <th>
            @Html.Label(@LiveAzure.Resource.Model.Finance.FinancePayType.Pstatus)
        </th>
        <td>
            @Html.DropDownListFor(model => model.Pstatus, (List<SelectListItem>)ViewBag.editPayStatus)
            @Html.ValidationMessageFor(model => model.Pstatus)
        </td>
    </tr>
    <tr>
        <th>
            @Html.Label(@LiveAzure.Resource.Model.Finance.FinancePayType.Sorting)
        </th>
        <td>
            @Html.EditorFor(model => model.Sorting)
            @Html.ValidationMessageFor(model => model.Sorting)
        </td>
    </tr>
    <tr>
        <th>    
            @Html.Label(@LiveAzure.Resource.Model.Finance.FinancePayType.IsCod)
        </th>
        <td>
            @Html.DropDownListFor(model => model.IsCod, (List<SelectListItem>)ViewBag.editIsCod)
            @Html.ValidationMessageFor(model => model.IsCod)
        </td>
    </tr>
    <tr>
        <th>    
            @Html.Label(@LiveAzure.Resource.Model.Finance.FinancePayType.IsOnline)
        </th>
        <td>
            @Html.DropDownListFor(model => model.IsOnline, (List<SelectListItem>)ViewBag.editIsOnline)
            @Html.ValidationMessageFor(model => model.IsOnline)
        </td>
    </tr>
    <tr>
        <th>
            @Html.Label(@LiveAzure.Resource.Model.Finance.FinancePayType.Fee)
        </th>
        <td>
            @Html.EditorFor(model => model.Fee)
            @Html.ValidationMessageFor(model => model.Fee)
        </td>
    </tr>
    <tr>
        <th>
            @Html.Label(@LiveAzure.Resource.Model.Finance.FinancePayType.Config)
        </th>
        <td>
            @Html.EditorFor(model => model.Config)
            @Html.ValidationMessageFor(model => model.Config)
        </td>
    </tr>
    <tr>
        <th>
            @Html.Label(@LiveAzure.Resource.Model.ModelBase.Remark)
        </th>
        <td>
            @Html.EditorFor(model => model.Remark)
            @Html.ValidationMessageFor(model => model.Remark)
        </td>
    </tr>
    </table>
    <div>
        <input type="button" value="@LiveAzure.Resource.Common.Submit" onclick="submiteditPayTypeForm();" />
    </div>
    <script type="text/javascript">
        function submiteditPayTypeForm() {
            $("#editPayTypeForm").submit();
        }
    </script>
</div>
}