@model List<LiveAzure.Models.Finance.FinancePayment>
@using LiveAzure.Resource.Model.Finance           
@using MVC.Controls;
@using MVC.Controls.Grid;

<p>@LiveAzure.Resource.Stage.FinanceController.PaymentList</p>

<table>
    <tr>
        <td>@Html.Label(FinancePayment.Organization)</td>
        <td>@Html.DropDownList("OrgId", (List<SelectListItem>)ViewBag.orgList, new { onchange = "ChangePaymentOrg(this.value)" })</td>
        <td>&nbsp;&nbsp</td>
        <td>@Html.Label(FinancePayment.RefType)</td>
        <td>@Html.DropDownList("refType", (List<SelectListItem>)ViewBag.refIdList, new { onchange = "ChangePaymentRefType(this.value)" })</td>
        <td>&nbsp;&nbsp</td>
        <td>@Html.Label(FinancePayment.RefID)</td>
        <td>@Html.TextBox("refId", (string)ViewBag.refBillCode)</td>
        <td><input type="button" value="@LiveAzure.Resource.Common.Search" onclick="SearchPaymentsByOrderCode()" /></td>
    </tr>
</table>

<div id="PaymentToCloseGridTable">
    @Html.Grid(new GridControl()
    .SetName("PaymentToCloseGrid")
    .SetPageSize(20)
    .SetIsAutoSize(true)
    .SetHttpVerb(HttpVerbs.Get)
    .SetListUrl("/Finance/PayableToCloseList")
    .SetWidth("'50%'")
    .SetHeight("'100%'")
    .SetColumns<LiveAzure.Models.Finance.FinancePayment>(cs =>
    {
        cs.Add(x => x.Gid).SetAsPrimaryKey().SetHidden(true);
        cs.Add(x => x.Code).SetCaption(LiveAzure.Resource.Model.Finance.FinancePayment.Code);
        cs.Add(x => x.PaymentType).SetCaption(LiveAzure.Resource.Model.Finance.FinancePayment.Ptype);
        cs.Add(x => x.Pstatus).SetCaption(LiveAzure.Resource.Model.Finance.FinancePayment.Pstatus)
                              .SetColumnRenderer(new ComboColumnRenderer("/Finance/GetFinanceStatusText"));
        cs.Add(x => x.Amount).SetCaption(LiveAzure.Resource.Model.Finance.FinancePayment.Amount);
        cs.Add(x => x.Currency).SetCaption(LiveAzure.Resource.Model.Finance.FinancePayment.Currency);
        cs.Add(x => x.PayDate).SetCaption(LiveAzure.Resource.Model.Finance.FinancePayment.PayDate);
    }))
</div>

<input type="button" value="@LiveAzure.Resource.Stage.FinanceController.ClosePayment" onclick="ClosePayment()" />
    
<input type="button" value="@LiveAzure.Resource.Common.Back" onclick="GotoPayment()" />

<script type="text/javascript">

    function SearchPaymentsByOrderCode() {
        var refID=document.getElementById("refId").value;
        $.ajax({
            type: "POST",
            url: "/Finance/ChangeRefId",
            data: { billCode:refID },
            success: function (data) {
                $('#PaymentToCloseGrid').trigger('reloadGrid');
            }
        });
    }

    function ChangePaymentOrg(org) {
        $.ajax({
            type: "POST",
            url: "/Finance/ChangeRefId",
            data: { orgId: org },
            success: function (data) {
                $('#PaymentToCloseGrid').trigger('reloadGrid');
            }
        });
    }

    function ChangePaymentRefType(type) {
        $.ajax({
            type: "POST",
            url: "/Finance/ChangeRefId",
            data: { reftype: type },
            success: function (data) {
                $('#PaymentToCloseGrid').trigger('reloadGrid');
            }
        });
    }

    function ClosePayment() {
        var PayableRowId = $("#PaymentToCloseGrid").jqGrid("getGridParam", "selrow");
        if (PayableRowId == null) {
            alert("@LiveAzure.Resource.Common.PleaseSelectRow");
        }
        else {
            $.ajax({
                type: "POST",
                url: "/Finance/ClosePaymentAndSetOrderStatusPaid",
                data: { paymentGid: PayableRowId },
                success: GotoPayment()
            });
        }
    }

    function GotoPayment() {
        $.ajax({
            type: "POST",
            url: "/Finance/Payable",
            data: { },
            success: function (data) {
                $("#body_frame").html(data);
            }
        });
    }

</script>