@{
    Layout =null;  
}
<div class="show">
             <table style="width:770px;">
                <tr>
                    <td class="td" align="center">
                        <img src="@Url.Content("~/Content/img/show01.jpg")" alt="" />
                        <p><a name="anchor" href="#">[打包42平米]四合地板 三层实木复合地板 橡木本色</a></p>
                        <p><span>销售价：</span><span class="price_now">49</span><span>市场价：</span><span class="price_del">119</span></p>
                    </td>
                    <td class="td" align="center">
                        <img src="@Url.Content("~/Content/img/show01.jpg")" alt="" />
                        <p><a name="anchor" href="#">[打包42平米]四合地板 三层实木复合地板 橡木本色</a></p>
                        <p><span>销售价：</span><span class="price_now">49</span><span>市场价：</span><span class="price_del">119</span></p>
                    </td>
                    <td class="td" align="center">
                        <img src="@Url.Content("~/Content/img/show01.jpg")" alt="" />
                        <p><a name="anchor" href="#">[打包42平米]四合地板 三层实木复合地板 橡木本色</a></p>
                        <p><span>销售价：</span><span class="price_now">49</span><span>市场价：</span><span class="price_del">119</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="td" align="center">
                        <img src="@Url.Content("~/Content/img/show01.jpg")" alt="" />
                        <p><a name="anchor" href="#">[打包42平米]四合地板 三层实木复合地板 橡木本色</a></p>
                        <p><span>销售价：</span><span class="price_now">49</span><span>市场价：</span><span class="price_del">119</span></p>
                    </td>
                    <td class="td" align="center">
                        <img src="@Url.Content("~/Content/img/show01.jpg")" alt="" />
                        <p><a name="anchor" href="#">[打包42平米]四合地板 三层实木复合地板 橡木本色</a></p>
                        <p><span>销售价：</span><span class="price_now">49</span><span>市场价：</span><span class="price_del">119</span></p>
                    </td>
                    <td class="td" align="center">
                        <img src="@Url.Content("~/Content/img/show01.jpg")" alt="" />
                        <p><a name="anchor" href="#">[打包42平米]四合地板 三层实木复合地板 橡木本色</a></p>
                        <p><span>销售价：</span><span class="price_now">49</span><span>市场价：</span><span class="price_del">119</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="td" align="center">
                        <img src="@Url.Content("~/Content/img/show01.jpg")" alt="" />
                        <p><a name="anchor" href="#">[打包42平米]四合地板 三层实木复合地板 橡木本色</a></p>
                        <p><span>销售价：</span><span class="price_now">49</span><span>市场价：</span><span class="price_del">119</span></p>
                    </td>
                    <td class="td" align="center">
                        <img src="@Url.Content("~/Content/img/show01.jpg")" alt="" />
                        <p><a name="anchor" href="#">[打包42平米]四合地板 三层实木复合地板 橡木本色</a></p>
                        <p><span>销售价：</span><span class="price_now">49</span><span>市场价：</span><span class="price_del">119</span></p>
                    </td>
                    <td class="td" align="center">
                        <img src="@Url.Content("~/Content/img/show01.jpg")" alt="" />
                        <p><a name="anchor" href="#">[打包42平米]四合地板 三层实木复合地板 橡木本色</a></p>
                        <p><span>销售价：</span><span class="price_now">49</span><span>市场价：</span><span class="price_del">119</span></p>
                    </td>
                </tr>
            </table>
         </div>
