@model LiveAzure.Models.Warehouse.WarehouseShelf
@using WarehouseShelfResource = LiveAzure.Resource.Model.Warehouse.WarehouseShelf
@using CommonResource = LiveAzure.Resource.Common
@{
    ViewBag.Title = "WarehouseShelfAdd";
}
<h2>WarehouseShelfAdd</h2>

@using (Html.BeginForm("ShelfAddDB", "Warehouse", FormMethod.Post))
{
    <table>
        <tr>
            <th>@WarehouseShelfResource.Warehouse</th>
            <td>
                @Html.HiddenFor(model => model.WhID)
                @Html.DisplayFor(model => model.Warehouse.FullName, "LocaleMatter", new { ID = "WarehouseName" })
            </td>
        </tr>
        <tr>
            <th>@WarehouseShelfResource.Code</th>
            <td>@Html.TextBoxFor(model => model.Code, new { id = "txtCode" })</td>
        </tr>
        <tr>
            <th>@WarehouseShelfResource.Barcode</th>
            <td>@Html.TextBoxFor(model => model.Barcode, new { id = "txtBarcode" })</td>
        </tr>
        <tr>
            <th>@WarehouseShelfResource.Name</th>
            <td>@Html.TextBoxFor(model => model.Name, new { id = "txtName" })</td>
        </tr>
        <tr>
            <th>@WarehouseShelfResource.Brief</th>
            <td>@Html.TextAreaFor(model => model.Brief, new { id = "txtBrief" })</td>
        </tr>
        <tr>
            <td>@WarehouseShelfResource.Reserved</td>
            <td>@Html.CheckBoxFor(model=>model.Reserved)</td>
        </tr>
        <tr>
            <td>@LiveAzure.Resource.Model.ModelBase.Remark</td>
            <td>@Html.TextAreaFor(model => model.Remark, new { id = "txtRemark" })</td>
        </tr>
    </table>
    <input type="submit" value="@CommonResource.Add" />
    <input type="button" id="btnReset" value="@CommonResource.Reset" />
    <input type="button" id="btnCancel" value="@CommonResource.Cancel" />
}

<script type="text/javascript">
    $("#btnReset").click(function () {
        $("#txtCode").val("");
        $("#txtBarcode").val("");
        $("#txtName").val("");
        $("#txtBrief").val("");
        $("#txtRemark").val("");
    });
    $("btnCancel").click(function () {
        document.location.replace("/Warehouse/Shelf");
    });
</script>