@model LiveAzure.Models.Warehouse.WarehouseStockIn
@using NoteType = LiveAzure.Models.ModelEnum.NoteType
@using CategoryType = LiveAzure.Models.ModelEnum.StandardCategoryType
@using CommonResource = LiveAzure.Resource.Common
@using InResource = LiveAzure.Resource.Model.Warehouse.WarehouseStockIn
@using WCResource = LiveAzure.Resource.Stage.WarehouseController
@ControlManager.StandardCategorySelect()
@ControlManager.RefIDSelect()

@using (Html.BeginForm("StockInAddDB", "Warehouse", FormMethod.Post, new { id = "StockInAddForm" }))
{
    <table>
        <tr>
            <th>@InResource.Warehouse</th>
            <td>
                @Html.HiddenFor(model => model.WhID)
                @Html.DisplayFor(model => model.Warehouse.FullName, "LocaleMatter", new { id = "WarehouseName" })
            </td>
            <th>@InResource.Code</th>
            <td>
                @Html.HiddenFor(model => model.Gid)
                <input type="text" value="@WCResource.AutoGenerate" disabled="disabled" />
            </td>
            <th>@InResource.InType</th>
            <td>@Html.EditorFor(model => model.InType, "StandardCategorySelect", new { Type = CategoryType.STOCKIN, OnClick = "setRefType" })</td>
        </tr>
        <tr>           
            <th>@InResource.RefType</th>
            <td>@Html.DisplayFor(model => model.RefType, "EnumName", new { ID = "RefType", EnumName = "NoteType" })</td>
            <th>@InResource.RefID</th>
            <td>@Html.EditorFor(model => model.RefID, "RefIDSelect", new { ID = "RefID", RefType = Model.RefType, OnError = "refIdError" })</td>
            <th>@InResource.Istatus</th>
            <td>@Html.TextBoxFor(model => model.InStatusName, new { disabled = "disabled" })</td>
        </tr>
        <tr>
            <th>@InResource.Prepared</th>
            <td>@Html.DisplayFor(model => model.Prepared, "UserName", new { ID = "PreparedName" })</td>
            <th>@LiveAzure.Resource.Model.ModelBase.Remark</th>
            <td>@Html.TextAreaFor(model => model.Remark)</td>
        </tr>
    </table>
    <input type="submit" value="@WCResource.NextStep" />
    <input type="button" value="@CommonResource.Reset" />
    <input type="button" id="btnCancel" value="@CommonResource.Cancel" />
}
<script type="text/javascript">
    function setRefType(typeID, typeName) {
        $.post("/Warehouse/GetRefTypeJson", { typeID: typeID },
            function (data) {
                $("#RefType").val(data);
                if (data == 7) {
                    //不需要单据
                    objRefID.destroy();
                } else {
                    //需要单据
                    objRefID.create(parseInt($("#RefType").val()));
                }
            });
    }
    function refIdError() {
        alert("Error!");
    }
    $("#btnCancel").click(function () {
        document.location.replace("/Warehouse/StockIn");
    });
    $("#StockInAddForm").submit(function (e) {
        if ($("#RefType").val() != "@((byte)NoteType.NONE)" && $("#RefID_val").val() == "") {
            alert("@WCResource.RefIDRequired");
            e.preventDefault();
        }
    });
</script>