@{
    ViewBag.Title = "Index";
}

<h2>控件演示测试页面</h2>
<ul>
    <li>@Html.ActionLink("测试多语言输入框", "TestEditMatter")</li>
    <li>@Html.ActionLink("测试多货币输入框", "TestEditCash")</li>
    <li>@Html.ActionLink("测试Html编辑器", "TestHTMLEditor")</li>
    <li>@Html.ActionLink("测试地区选择器", "TestRegionSelector")</li>
    <li>@Html.ActionLink("测试程序选择器", "TestProgramSelector")</li>
    <li>@Html.ActionLink("测试标准分类选择器", "TestStandardCategorySelector")</li>
    <li>@Html.ActionLink("测试私有分类选择器", "TestPrivateCategorySelector")</li>
    <li>@Html.ActionLink("图片选择器", "TestImageSelector")</li>
    <li>@Html.ActionLink("测试大对象字符串编辑器", "TestEditLargeMatter")</li>
    <li>@Html.ActionLink("测试SKU选择器", "TestSKUSelector")</li>
</ul>