@{
    Layout = null;
}
@model LiveAzure.Models.General.GeneralOptItem
@using (@Ajax.BeginForm("SaveOptionalItem", "Optional", new AjaxOptions { OnSuccess = "RefreshOptionalItemsGrid();ClosePanel();" }, new { id = "opionalItemForm" }))
{
    <div class="down_AddorEdit">
        <p>@LiveAzure.Resource.Stage.OptionalController.Add
            @ViewBag.optionalName
            @LiveAzure.Resource.Stage.OptionalController.OptionalItemList
        </p>
        <table>
            @Html.HiddenFor(model => model.OptID)    
            <tr>
                <th>    
                    @LiveAzure.Resource.Model.General.GeneralOptItem.Code
                </th>
                <td>
                    @Html.EditorFor(model => model.Code)
                </td>
            </tr>
            <tr>
                <th>
                    @LiveAzure.Resource.Model.General.GeneralOptional.Sorting
                </th>
                <td>
                    @Html.EditorFor(model => model.Sorting)
                </td>
            </tr>
            <tr>
                <th>   
                    @LiveAzure.Resource.Model.General.GeneralOptional.Name
                </th>
                <td>
                    @Html.EditorFor(model => model.Name, "Matter")
                </td>
            </tr>
            <tr>
                <th>
                    @LiveAzure.Resource.Model.ModelBase.Remark
                </th>
                <td>
                    @Html.EditorFor(model => model.Remark)
                </td>
            </tr>
        </table>
        <div>
            <input type="button" value="@LiveAzure.Resource.Common.Submit" onclick="submitOptionalItemForm();" />
        </div>
    </div>
}
    <script type="text/javascript">

        function submitOptionalItemForm() {
            $("#opionalItemForm").submit();
        }  
    </script>
